*{
    box-sizing: border-box;
}

h1{
    display: inline-block;
    vertical-align: middle;
}

#logo{
    vertical-align: middle;
}

header{
    padding-left: 20px;
    
}
main{
    background-color: #f6f8f9;
    padding-top: 30px;
}

#main-box{
    
    width: 60%;
    margin: auto;
    background-color: white;
}
#task-box{
    padding: 20px 30px;
}