*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

h1{
    display: inline-block;
    vertical-align: middle;
}

#logo{
    vertical-align: middle;
}

header{
    padding-left: 20px;
    
}
main{
    background-color: #f6f8f9;
    padding-top: 30px;
}

#main-box{
    
    width: 60%;
    margin: auto;
    background-color: white;
}
#task-box{
    padding: 20px 30px;
    border: 1px solid white;
    border-radius: 30px;
}

.check{
    border: 1px solid ;
    border-radius: 50%;
    text-align: center;
    margin: auto;
}
.red{
    color: red;
    border-color:red;
}
.green{
    color:green;
    border-color: green;
}
.entry{
    padding: 10px ;
}
/* Colore e layout tag */
.tag{
    color:white;
    border: 1px solid;
    border-radius: 15px;
    padding: 5px;
    font-size: small;
}
.blue-tag{
    background-color: #45abea;
}
.purple-tag{
    background-color: #9c72e4;
}
.green-tag{
    background-color: #64c0a9;
}
.light-green-tag{
    background-color: #b0c926;
}
.orange-tag{
    background-color: #f6b764;
}
.red-tag{
    background-color: #d863a1;
}

#add-task{
    color:white;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    font-size: small;
    background-color: #45abea;
}
#add-section{
    color:lightgrey;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    font-size: small;
    background-color: white;
}
#action-box{
    margin-left :30px;
    padding-top: 30px;
}