*{
    box-sizing: border-box;
}

h1{
    display: inline-block;
    vertical-align: middle;
}

#logo{
    vertical-align: middle;
}

header{
    padding-left: 20px;
    
}
main{
    background-color: grey;
}

#main-box{
    
    width: 60%;
    margin: auto;
    background-color: white;
}